.Polaris-Frame {
  background-color: #ffffff !important;
}

.Polaris-TopBar {
  background-color: #ffffff !important;
}

.Polaris-TopBar-Menu__Activator {
  background-color: #ffffff !important;
  color: black !important;
}
